/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenido-dinamico{
    display: block;
    position: absolute;
    top: 10vh;
    height: 80vh;
    width: 100%;   
    padding: 30px 50px;
    background-color: #e3d559;
    overflow-y: scroll;
}